

/*================== MAIN ==================*/

body {
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

div,td {
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}


a {
	color: #F58500;
	font-size: 13px; 
	text-decoration: underline;	
}
a:hover {
	color: #000000;
}


img {
	border: 0px;	
}


#main {
	background-color: #ffffff;
	background-image: url(../images/main_background_gradient.jpg);
	background-repeat: repeat-x;
	
  	position: relative;
  	top: 0px;
  	
  	margin: 0px;
  	padding: 10px;
  	padding-bottom: 20px;
  	
  	text-align: left;
}


div.footer {
	color: #333333;
	padding: 20px;
  	text-align: center;
}


div.feedbackTab {
	visibility: hidden;
	/*
	opacity: 0.4;
	filter: alpha(opacity=40);
	
	background-color: #eeeeee;
	background-image: url(../images/feedback.png);
	background-position: center center;
	background-repeat: no-repeat;
	border: #000000 1px solid;
	border-right: 0px;
	color: #000000;
	height: 130px;
	position: fixed;
	right: 0px;
	top: 150px;
	width: 28px;
	z-index: 1;
	
	box-shadow: 3px 3px 8px #444444;
	-moz-box-shadow: 3px 3px 8px #444444;
	-webkit-box-shadow: 3px 3px 8px #444444;
	*/
}

div.feedbackTab:hover {
	opacity: 0.7;
	filter: alpha(opacity=70);
	
	cursor: pointer;
}

div.ui-dialog {
	box-shadow: 4px 4px 15px #555555;
	-moz-box-shadow: 4px 4px 15px #555555;
	-webkit-box-shadow: 4px 4px 15px #555555;
}





/*=======TEXT STYLES==============*/

h1,h2,h3 {	font-family: Helvetica, sans-serif; color: #F58500;	}
h1 {	font-size: 20px; padding-top: 12px; padding-bottom: 12px; margin: 0px;	}
h2 {	font-size: 16px; line-height: 24px;	}
h3 {	font-size: 13px; line-height: 21px;	color:#555;	}
h4 {	font-size: 12px; line-height: 20px;	}

.errors {	color: red; font-weight: bold;	}





/*================== HEADER ==================*/

#header {
  	width: 100%;
  	position: relative;
	top: 0px;
  	z-index: 50;
  	
  	background-image: url(../images/header_background.jpg);
	background-position: top center;
	background-repeat: no-repeat;
}

.headerContent {
	width: 100%;
	height: 92px;
	margin-left: auto;
	margin-right: auto;
	z-index: 80;
}





/*================== LOGIN PANEL ==================*/

ul.loginPanel {
	opacity: 0.8;
	filter: alpha(opacity=80);
	
	box-shadow: 4px 4px 15px #000000;
	-moz-box-shadow: 4px 4px 15px #000000;
	-webkit-box-shadow: 4px 4px 15px #000000;
	
	background-color: #FFB533;
	float: right;
	z-index: 55;
	padding: 7px;
	margin: 0px;
	margin-right: 15px;
	
	border-color: #9C6602;
	border-style: solid;
	border-width: 1px;
	border-top: 0px;
	
	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

ul.loginPanel li {
	font-size: 14px;
	font-weight: bold;
	float: left;
	list-style: none;
	padding: 0px;
	padding-left: 10px;
	padding-right: 10px;
}

ul.loginPanel a {
	color: #573A04;
	text-decoration: none;
}

ul.loginPanel a:hover {
	color: #ffffff;
	text-shadow: #000000 0px 0px 4px;
}





/*================== MENU ==================*/

ul.menu {
	width: 90%;
	list-style-type: none; 
	margin: 0px; 
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	padding-top: 30px;
	padding-left: 10px;
	float: left;
}

ul.menu li { 	
	color: #ffffff;
	float: left;
	margin: 0px;
	padding: 7px;
	padding-left: 10px;
}

ul.menu a {
	color: #ffffff;
	font-size: 15px;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: #000000 2px 2px 4px;
}

ul.menu a:hover {
	color: #aaaaaa;
}







/*======= BUTTONS ==============*/

.button {
	background: #dddddd;
    border: 1px solid #aaaaaa;
    color: #333333;
    text-decoration: none;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    margin: 2px;
    padding: 2px 16px;
}

.button:hover {	
	border-color: #cccccc;
	color: #888888;
	cursor: pointer;
	background: #eeeeee;
}





/*================ TABLES ==================*/

table.admin th {
	background-color: #dddddd;
	cursor: pointer;
	padding: 7px;
}
table.admin th:hover {
	background-color: #cccccc;	
}
table.admin th.noHover {
	cursor:default;
}
table.admin th.noHover:hover {
	background-color: #dddddd;
}

table.admin td {
	padding: 7px;
}
table.admin td.center {
	text-align: center;
}

table.admin tr.odd {
	background-color: #ffffff;
}
table.admin tr.even {
	background-color: #f5f5f5;
}
table.admin tr:hover {
	background-color: #ffe2c6;
}

table.admin a {
	color: #888888; 
}
table.admin a:hover {
	color: #000000; 
}




/*================== REGISTER ==================*/

div.registrationParagraph {
	visibility: hidden;
}






/*================== ABOUT ==================*/

p.aboutParagraph {
	padding: 15px;
	padding-top: 5px;
	margin: 0px;
	font-size: 14px;
	width: 500px;
}

div.contactInfo {
	box-shadow: 3px 3px 8px #cccccc;
	-moz-box-shadow: 3px 3px 8px #cccccc;
	-webkit-box-shadow: 3px 3px 8px #cccccc;
	
	background-color: #eaeaea;
	float: right;
	height: 120px;
	width: 200px;
	margin: 25px;
	margin-top: 55px;
	padding-left: 10px;
	padding-right: 10px;
}

div.contactInfo ul {
	padding: 0px;
	padding-left: 15px;
}
div.contactInfo li {
	padding: 2px;
}

div.contactInfo a {
	color: #CF6E00;
}
div.contactInfo a:hover {
	color: #111111;
}







/*================== HOVER PANE ==================*/

div.hoverPane {
	border: 1px solid #000000;
	left: 20px;
	position: absolute;
	top: 20px;
}






/*================== VOTE ==================*/


div.voteContainer {
	background-color: #dddddd;
	border: 1px solid #aaaaaa;
	
	box-shadow: 3px 3px 8px #cccccc;
	-moz-box-shadow: 3px 3px 8px #cccccc;
	-webkit-box-shadow: 3px 3px 8px #cccccc;
	
	color: #000000;
	float: left;
	min-height: 70px;
	padding: 5px;
	text-align: center;
	max-width: 70px;
}

div.voteContainer a {
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}
div.voteContainer a:hover {
	color: #666666;
}

div.voteButtonContainer {
	float:left;
	margin-left: 5px;
	width: 25px;
}

div.voteCountContainer {
	float: right; 
	margin: 5px;
}

a.voteImage {
	display: block;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

a.voteUpImage {
	background: url('../images/vote_up.png');
	background-position: 0px 0px;
}
a.voteUpImage:hover {
	background-position: 0 -24px;
}
a.voteUpImageDisabled {
	background: url('../images/vote_up.png');
	background-position: 0px -48px;
}
a.voteUpImageDark {
	background: url('../images/vote_up.png');
	background-position: 0px -24px;
}

a.voteDownImage {
	background: url('../images/vote_down.png');
	background-position: 0px 0px;
}
a.voteDownImage:hover {
	background-position: 0 -24px;
}
a.voteDownImageDisabled {
	background: url('../images/vote_down.png');
	background-position: 0px -48px;
}
a.voteDownImageDark {
	background: url('../images/vote_down.png');
	background-position: 0px -24px;
}






/*================== RESULTS LIST: Buttons ==================*/

a.addStory {
	background: url('../images/add.png') no-repeat;
	color: #555555;
	display: block;
	font-size: 18px;
	height: 23px;
	padding-left: 27px;
	text-decoration: none;
	width: 70px;
}
a.addStory:hover {
	background: url('../images/add_dark.png') no-repeat;
	color: #000000;
}

a.searchStory {
	background: url('../images/search.png') no-repeat;
	color: #555555;
	display: block;
	font-size: 18px;
	height: 23px;
	padding-left: 27px;
	text-decoration: none;
}
a.searchStory:hover {
	background: url('../images/search_dark.png') no-repeat;
	color: #000000;
}


/*================== RESULTS LIST: Sorting ==================*/

ul.sortBy {
	border-bottom: 1px dashed #dddddd;
	font-size: 14px;
	height: 27px;
	list-style-type: none;
	margin: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0px;
}
ul.sortBy a {
	font-size: 14px;
}
ul.sortBy a.sortByCurrent {
	color: #000000;
	text-decoration: none;
}
li.sortByItem {
	display: block;
	float: left;
	padding-right: 10px;
	padding-top: 5px;
}

/*================== RESULTS LIST: Social Networks ==================*/

li.socialNetworkItem {
	visibility: hidden;
	/*
	TODO: Do we need these or will they complicate things?
	float: left;
	padding-right: 10px;
	*/
}

/*================== RESULTS LIST: Results ==================*/

ul.resultsList {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

li.resultsList {
	padding-bottom: 23px;
	padding-top: 23px;
}
li.resultsList:hover {
	background-color: #f5f5f5;
	border: 1px solid #dddddd;
	padding: 29px;
	padding-bottom: 22px;
	padding-top: 22px;
}

li.resultsList h2.resultTitle {
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}
li.resultsList h2.resultTitle a {
	color: #111111;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 20px;
	margin: 0px;
	text-decoration: none;
}
li.resultsList h2.resultTitle a:hover {
	color: #666666;
}

li.resultsList img.bookmark {
	cursor: pointer;	
}

li.resultsList div.resultImage {
	float: left;
}

li.resultsList img.resultImage {
	border: 1px solid #bbbbbb;
	height: 84px;
	margin-left: 20px;
	margin-right: 10px;
}

li.resultsList div.resultStory {
	float: top;
}

li.resultsList p.resultAddedDate {
	font-size: 10px;
	font-style: italic; 
	margin-top: 2;
}

li.resultsList p.resultDescription {
	font-size: 14px;
	min-height: 50px;
}

li.resultsList a.flagAsSpam {
	background: url('../images/red_flag_gray.png') no-repeat;
	color: #777777;
	display: block;
	float:right;
	font-size: 10px;
	height: 14px;
	padding-left: 14px;
	text-decoration: none;
}
li.resultsList a.flagAsSpam:hover {
	background: url('../images/red_flag.png') no-repeat;
	color: #333333;	
	cursor: pointer;
}









/*================== USER INFO ==================*/

table.userInfo {
	padding: 10px;
	padding-bottom: 20px;
}

table.userInfo td {
	color: #666666; 
	font-family: Arial,Helvetica,sans-serif; 
	font-size: 14px;
	padding: 7px;
	padding-right: 50px;
}



table.userInfo tr {
	background-color: #ffffff;
}
table.userInfo tr.odd {
	background-color: #f8f8f8;
}
table.userInfo tr:hover {
	background-color: #ffe2c6;
}

table.userInfo a {
	color: #888888; 
}
table.userInfo a:hover {
	color: #000000; 
}











/*================== TABLE FORMS ==================*/

table.form {
	border: 0px;
	text-align: left;
	padding: 0px;
}

table.centered {
	margin-left: auto;
	margin-right: auto;
}

table.form td {
	vertical-align: top; 
	padding: 2px;
}

table.form td.formLabel {
	padding-top: 6px;
	padding-right: 6px;
}

table.form .formInput {
	font-size: 11pt;
	font-family: inherit;
	width: 200px;
}

table.form .formInputWide {
	font-size: 11pt;
	font-family: inherit;
	width: 300px;
}

table.form .formInputVeryWide {
	font-size: 11pt;
	font-family: inherit;
	width: 500px;
}

table.form .formInputHigh {
	height: 200px;
}

table.form a {
	color: #888888;
	text-decoration: none; 
}
table.form a:hover {
	color: #333333;
	text-decoration: underline;
}



/*================== LOGIN FORM ==================*/

.ui-widget-content a.forgotPasswordLogin {
	color: #888888;
	float: right; 
	margin-right: 10px;
	margin-top: 20px;
	text-decoration: none; 
}
.ui-widget-content a.forgotPasswordLogin:hover {
	color: #333333;
	text-decoration: underline;
}


